@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #D3A523;
  --color-secondary: #352B1E;
  --color-dark: #F5F5F5; /* Light mode background */
  --color-light: #1A1A1A; /* Light mode text */
  --color-gray: #E5E5E5; /* Light mode gray */
  
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

.dark {
  --color-dark: #000000;
  --color-light: #F0F0F0;
  --color-gray: #363636;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.5s ease, color 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(211, 165, 35, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 165, 35, 0.5);
}
